.logo {
  height: 40vmin;
}

.counter {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
}

.counter-output {
  font-size: 40px;
  color: #740707;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}

.button {
  font-size: 20px;
  padding: 10px;
  color: #100036;
  border: 1px solid;
  border-color: #100036;
  border-radius: 5px;
}

.reset {
  width: 100px;
  font-size: 18px;
  padding: 10px;
  color: #100036;
  border: 1px solid;
  border-color: #100036;
  border-radius: 5px;
}
